@page "/details/{pokemonName}"
@model EnvisionStudioPokemonAPI.Pages.PokemonDetailsModel
@{
}
@functions {
    public string ConvertToCamelCase(string input)
    {
        // Split the input string by hyphens and capitalize each word
        var words = input.Split('-')
                         .Select(word => char.ToUpper(word[0]) + word.Substring(1));
        // Join the words back together without spaces
        return string.Join(" ", words);
    }
}

<div class="pokemon-details">
    <!-- Pokémon Name and Favorite Button Container -->
    <div class="pokemon-header">
        <h1 class="card-title">@Model.PokemonDetail.Name</h1>
        <!-- Add a button to add to favorites -->
        <form method="post" asp-page-handler="AddToFavorite">
            <input type="hidden" name="pokemonId" value="@Model.PokemonDetail.Id" />
            <button type="submit">Add to Favorites</button>
        </form>
        <form method="post" asp-page-handler="RemoveFromFavorite">
            <input type="hidden" name="pokemonId" value="@Model.PokemonDetail.Name" />
            <button type="submit">Remove From Favorites</button>
        </form>
    </div>

    <!-- Display Sprites -->
    <h2>Sprites:</h2>
    <div class="sprites">
        <img src="@Model.PokemonDetail.Sprites.Front_Default" alt="Front Default Sprite">
        <img src="@Model.PokemonDetail.Sprites.Back_Default" alt="Back Default Sprite">
    </div>

    <!-- Abilities, Types, and Stats Container -->
    <div class="abilities-types-stats">
        <!-- Display Abilities -->
        <div class="ability-stats">
            <h2>Abilities:</h2>
            <ul class="ability-list">
                @foreach (var ability in Model.PokemonDetail.Abilities)
                {
                    <li>@ConvertToCamelCase(ability.Ability.Name)</li>
                }
            </ul>
        </div>

        <!-- Display Types -->
        <div class="ability-stats">
            <h2>Types:</h2>
            <ul class="ability-list">
                @foreach (var type in Model.PokemonDetail.Types)
                {
                    <li>@ConvertToCamelCase(type.Type.Name)</li>
                }
            </ul>
        </div>

        <!-- Display Stats -->
        <div class="ability-stats">
            <h2>Stats:</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                @foreach (var stat in Model.PokemonDetail.Stats)
                {
                    <tr>
                        <td>@ConvertToCamelCase(stat.Stat.Name)</td>
                        <td>@stat.Base_Stat</td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <!-- Display Moves -->
    <h2>Moves:</h2>
    <ul class="move-list">
        @foreach (var move in Model.PokemonDetail.Moves)
        {
            <li>@ConvertToCamelCase(move.Move.Name)</li>
        }
    </ul>
</div>